<div class="noDisplay menu--edit-delete" id="menu">
    <a class="button--transparent" href="/<%= post._id %>/edit">Update</a>
    <form action="/<%= post._id %>?_method=DELETE" method="post">
        <button class="button--transparent">Delete</button>
    </form>
</div>