<nav>
    <div class="nav__title">
        <h1><a href="/" class="button--transparent"><b>H</b>ome <b>S</b>weet <b>H</b>ome</a></h1>
    </div>
    <div class="nav__links">
        <ul>
            <li><a href="/bookings" class="button--transparent">Bookings</a></li>
            <li><a href="/favourites" class="button--transparent">Favourites</a></li>
            <!-- If youre a landowner: -->
            <% if(currentUser && currentUser.isLandowner) { %> 
                <li><a href="/places" class="button--transparent">Places</a></li>
                <li><a href="/post" class="button--transparent">Post</a></li>
            <% } %>
        </ul>
        <ul class="nav__links--user">
            <% if(!currentUser) { %> 
                <li><a href="/login" class="button--transparent">Log in</a></li>
                <li><a href="/register" class="button--transparent">Register</a></li>
            <% } else { %>
                <li><a href="/logout" class="button--transparent">Log out</a></li>
            <% } %>
        </ul>
    </div>
</nav>