<% layout('../layout') %>
<form class="form--user" action="/register" method="POST">
    <div class="form__input-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
    </div>
    <div class="form__input-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>
    <div class="form__input-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <div class="form__checkbox-group">
        <input type="checkbox" name="type" id="type" value="landowner">
        <label for="type">Are you a landowner?</label>
    </div>
    <button class="button--main button--user">Register</button>
</form>